<!DOCTYPE html>
<html>

<head>
    <title>
        AnimeAndromeda API
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 15px 25px 10px 25px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background-image: url('https://i.ibb.co/5nv0qkr/suuuuuu.png');
            background-color: #ebfdf5;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: bottom center;
            background-size: 30%;
            font-family: 'DotGothic16', sans-serif;
            font-size: 1.05rem;
            min-height: 100%;
            display: grid;
            grid-template-rows: 1fr auto;
        }

        @media screen and (max-width: 600px) {
            body {
                background-size: 60%;
                background-position: bottom right;
                background-origin: content-box;
            }
        }

        a {
            color: #53B194;
        }

        .suu {
            color: #53B194;
        }
    </style>
</head>

<body>
    <h2><span class="suu">Suu</span> - AnimeAndromeda auth API</h2>
    <p>Queste sono le API di autenticazione di AnimeAndromeda!</p>
    <p>Non c'è molto da fare qui.</p>
    <br>
    <span>Se stai provando a rubare qualche account-password, buona fortuna! ce n'è di lavoro :)</span>
</body>

</html>